.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1.4285em;
  font-size: 1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  box-sizing: inherit;
  display: block;
  max-width: 100% !important;
  width: 933px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.App-link {
  color: #61dafb;
}
.card-link {
  color: orange;
  text-decoration: none;
} 
.card-link:hover {
  color: darkred;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
